.outer-border {
  border: 3px solid black;
  height: 200px;
  max-width: 2000px;
  margin: 0 auto;
  position: relative;
  background-color: gray;
  margin-bottom: 0px;
   display: flex;
  justify-content: center;
  align-items: center;
}

.box-text {
   border: 2px solid black; 
  padding: 50px;
  text-align: center;
  margin-left: 1550px;
  margin-right: 150px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: red;
}

.outer-border2 {
  border: 3px solid black;
  height: 200px;
  max-width: 2000px;
  margin: 0 auto;
  position: relative;
  background-color: gray;
  margin-bottom: 0px;
   display: flex;
  justify-content: center;
  align-items: center;
}

.box-text2 {
   border: 2px solid black; 
  padding: 50px;
  text-align: center;
    padding-top: 70px;
  padding-bottom: 70px;
  margin-right: 1550px;
   margin-left: 150px;
   background-color: yellow;


}

.outer-border3 {
  border: 3px solid black;
  height: 200px;
  max-width: 2000px;;
  margin: 0 auto;
  position: relative;
  background-color: gray;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.box-text3 {
  border: 2px solid black; 
  padding: 50px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-right: 850px;
   margin-left: 850px;
   background-color: blue;
}

.outer-border4 {
  border: 3px solid black;
  height: 200px;
  max-width: 2000px;
  margin: 0 auto;
  position: relative;
  background-color: gray;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-text4 {
  border: 2px solid black;
  padding: 50px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: orange;
  margin-right: 50px;
}

.box-text41 {
  border: 2px solid black;
  padding: 50px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: orange;
}

.outer-border5 {
  border: 3px solid black;
  height: 400px;
 max-width: 2000px;
  margin: 0 auto;
  position: relative;
  background-color: gray;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.box-text5 {
  border: 2px solid black;
  padding: 53px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: red;
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 200px;

}

.box-text51 {
  border: 2px solid black;
  padding: 50px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: orange;
  margin-right: 200px;
  margin-bottom: 200px;
}

.box-text52 {
  border: 2px solid black;
  padding: 50px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: yellow;
  margin-right: 200px;
  margin-bottom: 200px;
}

.box-text53 {
  border: 2px solid black;
  padding: 50px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: green;
  margin-right: 200px;
  margin-bottom: 200px;
}






.box-text54 {
  border: 2px solid black;
  padding: 60px;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 29.5%;
  transform: translate(-50%, -50%);
  background-color: blue;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-left: 10px;
  margin-right: 500px;

}

.box-text55 {
  border: 2px solid black;
  padding: 50px;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: indigo;
   padding-top: 70px;
  padding-bottom: 70px;

}

.box-text56 {
  border: 2px solid black;
  padding: 50px;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 64.7%;
  transform: translate(-50%, -50%);
  background-color: violet;
   padding-top: 70px;
  padding-bottom: 70px;
  margin-left: 100px;
  margin-right: 300px;

}


.header {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size:35px;
}
.header1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 20px;
}






